@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --black: #191919;
  --white: #fff;
  --blue: #4070f4;
  --blue2: #007bff;
  --green: #4caf50;
  --grey: #b0acac;
  --brown: #444;
  --red: #d0342c;
  --violet: #5a4ec5;
  --silver: #ccc;
  --bg: rgba(242, 242, 234, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Outfit", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--bg);
  padding: 2rem;
}

label {
  font-size: 1.2rem;
  color: var(--black);
}

.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.checkout-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  padding: 30px;
  max-width: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.cart-summary {
  position: fixed;
  left: calc(50% - 60rem);
  top: 1rem;
  width: 35rem;
  background-color: var(--white);
  border: 1px solid var(--grey);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  overflow: hidden;
  max-height: calc(100vh - 2rem);
  overflow-y: auto;
}

.cart-summary .form-title,
.empty-cart-message, .discount-title, .total-discount, .discount-amount {
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  justify-content: left;
}

.cart-summary .form-title {
  margin-bottom: 1.2rem;
  padding: 0.5rem;
  color: var(--black);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.qtd-item {
  font-size: 1.5rem;
  font-weight: 400;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
}

.total-title {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.4rem;
  display:flex;
  justify-content: center;
}

#cart-items {
  max-height: 30rem;
  overflow-y: auto;
  position: relative;
  padding: 5px;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2%;
  scroll-behavior: smooth;
}

#cart-items > div {
  padding: 10px 0;
  transition: all 0.3s ease;
}

#cart-items::-webkit-scrollbar {
  width: 6px;
}
#cart-items::-webkit-scrollbar-track, #cart-items::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 3px;
}
#cart-items::-webkit-scrollbar-thumb:hover {
  background: var(--white);
}

.remove-btn {
  background-color: var(--white);
  border: none;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
  margin-right: 0.85rem;
  display: flex;
}

.discount-form-container {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  padding: 0 1rem;
}

.discount-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.discount-input,
.discount-btn {
  font-size: 1rem;
  height: 32px;
  transition: border-color 0.3s ease, opacity 0.5s ease;
}

.discount-input {
  padding: 0 0.5rem;
  border: 1px solid var(--grey);
  border-radius: 4px 0 0 4px;
  outline: none;
  flex: 1;
  min-width: 100px;
}
.discount-input:focus {
  border-color: var(--blue2);
}
.discount-input::placeholder {
  color: var(--grey);
  font-weight: 500;
  font-style: italic;
}

.discount-btn {
  background-color: var(--blue2);
  color: var(--white);
  font-weight: 600;
  padding: 0 1rem;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  white-space: nowrap;
  flex-shrink: 0;
  margin-left: -1px;
}
.discount-btn:hover {
  color: var(--white);
}
.discount-btn:disabled {
  cursor: not-allowed;
  opacity: 0;
}

.discount-info {
  position: relative;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #f8f9fa;
  margin-top: 4rem;
  animation: fadeIn 0.3s ease-in-out;
}

/* Estilos gerais para as mensagens */
#discount-success-message, #discount-error-message {
  display: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

/* Estilo para mensagem de sucesso */
#discount-success-message {
  color: var(--green);
  font-size: 1.5rem;
  animation: shake 0.5s; /* Aplica a animação de trepidação */
}

/* Estilo para mensagem de erro */
#discount-error-message {
  color: var(--red);
  font-size: 1.5rem;
  font-weight: 500;
  animation: shake 0.5s; /* Aplica a animação de trepidação */
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}

#confirmation-message {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  color: var(--black);
  width: 50%;
  max-width: 400px;
  margin: 0 auto;
}

#confirmation-message p {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 5.25rem;
}

#confirmation-message .button-container {
  display: flex;
  justify-content: center;
  gap: 0.625rem;
  position: fixed;
  z-index: 1;
}

#confirmation-message button {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#confirmation-message #confirm-yes, #confirmation-message #confirm-no {
  background-color: var(--blue2);
  color: var(--white);
}
#confirmation-message #confirm-yes:hover, #confirmation-message #confirm-no:hover {
  background-color: var(--green);
}

.container-steps {
  width: 100%;
  max-width: 53.33%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 5%;
  left: 51%;
  transform: translateX(-50%) translateY(-20%);
}

.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 60%;
}

.progress-bar {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--violet);
  z-index: -1;
}

.progress-bar-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--green);
}

.circle {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: var(--violet);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
  position: relative;
}

.circle.active {
  background-color: var(--green);
}

.circle i {
  font-size: 1.8rem;
  color: var(--white);
  margin-top: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-name {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--black);
  margin-top: 6rem;
  margin-left: 0.6rem;
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  border: 1px solid var(--grey);
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 18%;
  left: 60%;
  transform: translateX(-50%);
  max-width: 430px;
  width: 100%;
}

.container input:focus {
  background-color: transparent;
  outline: transparent;
  border-bottom: 3px solid hsl(268, 80%, 57%);
}

.container input::placeholder {
  color: transparent;
}

.box-title {
  font-size: 1.8rem;
  font-weight: 500;
}

.input-group {
  position: relative;
  margin-top: 10px;
}

.input-group input {
  padding-left: 3rem;
  padding-right: 4rem;
  height: 3rem;
  width: 100%;
  border: 1px solid var(--grey);
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.input-group label {
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--grey);
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: -10px;
  font-size: 0.8rem;
  color: var(--white);
  transform: translateY(0);
}

.input-group input:focus {
  border-color: var(--blue2);
  outline: none;
}

.input-group i {
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: 1.5rem;
  transform: translateY(-50%);
  color: var(--black);
}

.password-container {
  position: relative;
  margin-top: 10px;
}

.password-container input {
  padding-left: 3rem;
  padding-right: 4rem;
}

.eye-icon {
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--grey);
  z-index: 2;
  margin-left: 33rem;
}
.eye-icon:hover {
  color: var(--blue2);
}

.radio-container {
  margin-bottom: 20px;
}

.radio-container .input-group {
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black);
  margin-bottom: 10px;
  transform: none;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1rem;
}

.radio-form {
  margin-top: 10px;
}

.radio-group {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.radio-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 8px;
}

.radio-item input[type="radio"] {
  margin: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.radio-item label {
  position: static;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black);
  cursor: pointer;
  margin: 0;
  transform: none;
}

.hidden-section {
  display: none;
}

.common-fields {
  display: block;
}

.auth-buttons {
  color: hsl(246, 51%, 54%);
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  font-weight: 500;
}
.auth-buttons:hover {
  color: var(--blue);
  text-decoration: underline;
}

.auth-btn {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 8px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  background: var(--blue);
  color: var(--white);
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  text-align: center;
  margin-top: 15px;
}
.auth-btn:hover {
  background: hsl(135, 83%, 34%);
  transform: scale(1.05);
}
.auth-btn:active {
  transform: scale(0.98);
  background: hsl(135, 83%, 30%);
}

.links {
  position: relative;
  margin-top: 1rem;
}

.links p {
  font-size: 1.25rem;
  font-weight: 400;
}

#eyeicon-hide-login,
#eyeicon-hide-signup,
#eyeicon-hide-confirm {
  display: none;
}