@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --black: #191919;
  --white: #fff;
  --blue: #4070f4;
  --green: #4caf50;
  --red: #d0342c;
  --violet: #5a4ec5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Outfit", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--white);
  margin-top: 0;
  padding: 2rem;
}

.container-steps {
  position: relative;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.step {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.step-item {
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: var(--violet);
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, border 0.3s;
}

.circle.active {
  background-color: var(--green);
  border-color: var(--green);
}

.circle i {
  font-size: 2rem;
  font-weight: 400;
  display: block;
}

.progress-bar {
  position: absolute;
  width: 80%;
  margin-left: 10%;
  height: 2px;
  background: var(--violet);
  z-index: -1;
  top: 1.25rem;
}

.progress-bar.active {
  background: var(--green); /* Cor da barra quando ativa */
}

.indicator {
  position: absolute;
  height: 100%;
  background: var(--green);
  transition: width 0.3s;
}

.step-buttons {
  display: flex;
  gap: 2rem;
}

.step-buttons button {
  padding: 8px 16px;
  background: var(--blue);
  border: none;
  border-radius: 0.5rem;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.step-title {
  margin-top: 4px;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  word-break: nowrap;
}

/* checkout  */
.checkout-container {
  flex: 1; /* Allow this to grow */
  display: flex;
  flex-direction: column; /* Stack items */
  gap: 1.5rem;
}
.form-container {
  width: 100%;
  padding: 20px;
  border: 1px solid var(--black);
  border-radius: 8px;
  background-color: var(--white);
}
.input-line {
  display: flex;
  flex-direction: column;
}

/* Responsive Styles */
@media (min-width: 600px) {
  .checkout-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns on larger screens */
  }

  .form-container {
    grid-column: span 2; /* Make form container span two columns */
  }
}

/* Checkout Summary Styles */
.summary-checkout-wrapper {
  display: flex;
  justify-content: center; /* Center items */
  align-items: flex-start; /* Align items to the top */
  gap: 2rem; /* Space between summary and checkout */
  width: 100%;
  max-width: 1200px; /* Optional: set max width for larger screens */
}

.checkout-summary-container {
  flex: 1;
}

.cart-summary {
  width: 100%; /* Adjust as needed */
  padding: 20px;
  border: 1px solid var(--black);
  border-radius: 8px;
  background-color: var(--white);
  text-align: center;
  z-index: 1; /* Ensure it's on top */
}
