@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --black: #191919;
  --white: #fff;
  --blue: #4070f4;
  --green: #4caf50;
  --grey: #bbb;
  --red: #d0342c;
  --violet: #5a4ec5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Outfit", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  margin: 0;
  padding: 2rem;
}

label {
  display: block;
  font-size: 1.1rem;
  font-weight:500;
  margin-bottom: 0.5rem;
  color: var(--black);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--grey);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  transition: border-color 0.3s;
}

input:focus {
  border-color: var(--blue);
  outline: none;
}

.container-steps {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.step {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.step-item {
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: var(--violet);
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, border 0.3s;
}

.circle.active {
  background-color: var(--green);
  border-color: var(--green);
}

.circle i {
  font-size: 2rem;
  font-weight: 400;
  display: block;
}

.progress-bar {
  position: absolute;
  width: 80%;
  margin-left: 10%;
  height: 2px;
  background: var(--violet);
  z-index: -1;
  top: 1.25rem;
}

.progress-bar.active {
  background: var(--green);
}

.indicator {
  position: absolute;
  height: 100%;
  background: var(--green);
  transition: width 0.3s;
}

.step-buttons {
  display: flex;
  gap: 2rem;
  justify-content: center; 
  margin-bottom: 1rem; 
  width: 100%; 
}

.step-buttons button {
  padding: 8px 16px;
  background: var(--blue);
  border: none;
  border-radius: 0.5rem;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

/* login */
.checkout-form {
  position: relative;
  width: 300px;
  background-color: var(--white);
  border: 1px solid var(--grey);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  font-size: 1.6rem;
  color: var(--black);
  margin-bottom: 1.2rem;
}

.input-line {
  margin-bottom: 1.5rem;
}

.primary-button {
  position: relative;
  margin-top: 5px;
  margin-left: 100px;
  background-color: var(--violet);
  border-radius: 4px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 6px 12px;
  text-decoration: none;
}

.primary-button:hover {
  background-color: var(--green);
  transform: translateY(-2px);
}

.auth-toggle-btn {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 0.5rem;
  background: none;
  color: var(--black);
  border: none;
  border-radius: 0.5rem;
  padding: 8px 16px;
  cursor: pointer;
  text-align: center;
  display: block;
}
